<section id="ModelContainer" class="tw-contact-us bg-offwhite lessmargin">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-heading text-center">
          <h3>Subscription Package List</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="premium_boxes_white">
          <div class="premium_boxes_white_titlebox">
            <h4><strong>Monthly Premium Subscription</strong></h4>
            <p>AUD 19.50 month(inc GST)</p>
          </div>
          <h4>Monthly Package</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.</p>
          <ul>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
          </ul>
          <a href="#null" (click)="setPaln('monthly')" data-toggle="pill" class="purchaseplanbtn">Purchase Plan</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="premium_boxes_white">
          <div class="premium_boxes_white_titlebox">
            <h4><strong>Yearly Premium Subscription</strong></h4>
            <p>AUD 120.00 Yearly(inc GST)</p>
            <div class="text-center premium_boxes_white_content">
              <h5>Only for limited time. Full price <del>$250</del></h5>
              <img src="assets/images/off.png" width="294" height="171" alt="" />
            </div>
          </div>
          <h4>Yearly Package</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.</p>
          <ul>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
          </ul>
          <a href="#null" (click)="setPaln('yearly')" data-toggle="pill"  class="purchaseplanbtn">Purchase Plan</a>
        </div>
      </div>
    </div>
  </div>
</section>