<section id="ModelContainer" class="tw-contact-us bg-offwhite lessmargin">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-heading text-center">
                    <h3>
                        Multi-Site CERCLA 5 Year Review
          </h3>

                </div>
            </div>

        </div>

        <div class="contact-us-form">
        
        <div class="row">
            <div class="col-sm-3">
        <ul class="nav nav-pills col-sm-3 nav-stacked newleft">
          <li class="active"><a href="#tab_a" data-toggle="pill">Required</a></li>
          <li><a href="#tab_b" data-toggle="pill">Secondary</a></li>
          <li><a href="#tab_c" data-toggle="pill">Teritiary</a></li>
        </ul>
        
        
        </div>
        
        <div class="col-sm-9"> 
        
        <div class="tab-content col-sm-9 rightside_formnav">
                <div class="tab-pane active" id="tab_a">
                
                
                    <div class="tabbingformbox_header ">
                        <a href="#" class="btn1">Calculate</a>
                        <a href="#" class="btn2">Save &amp; View Report</a>
                    </div>
                    <div class="tabbingformbox_padding">
                    
                    <div class="row">
                        
                        <div class="col-sm-7">
                        
                        <div class="form-group">
                            <input type="checkbox"> Tis is an item Lorem Ipsum Dolor
                        </div>
                        
                        
                        <div class="form-group">
                        <label>Area Cost Factor - Value</label>
                        <input type="text" class="form-control form-control-lg">
                        </div>
                        
                        
                        <div class="form-group">
                        <label>Area Cost Factor - Value</label>
                        <select class="form-control form-control-lg">
                            <option value="1.0">1.0</option>
                            <option value="5.0">5.0</option>
                        </select>
                        </div>
                         <div class="form-group">
                        <label>Area Cost Factor - Value</label>
                        <input type="text" class="form-control form-control-lg">
                        </div>
                        
                        
                        <div class="form-group">
                        <label>Area Cost Factor - Value</label>
                        <select class="form-control form-control-lg">
                            <option value="1.0">1.0</option>
                            <option value="5.0">5.0</option>
                        </select>
                        </div>
                         <div class="form-group">
                        <label>Area Cost Factor - Value</label>
                        <input type="text" class="form-control form-control-lg">
                        </div>
                        
                        
                        <div class="form-group">
                        <label>Area Cost Factor - Value</label>
                        <select class="form-control form-control-lg">
                            <option value="1.0">1.0</option>
                            <option value="5.0">5.0</option>
                        </select>
                        </div>
                         <div class="form-group">
                        <label>Area Cost Factor - Value</label>
                        <input type="text" class="form-control form-control-lg">
                        </div>
                        
                        
                        <div class="form-group">
                        <label>Area Cost Factor - Value</label>
                        <select class="form-control form-control-lg">
                            <option value="1.0">1.0</option>
                            <option value="5.0">5.0</option>
                        </select>
                        </div>
                        </div>
                        <div class="col-sm-5">
                            <h4><strong>Interim Remedial Action</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="tabbingformbox_header ">
                        <a href="#tab_b" data-toggle="pill" class="btn2">Secondary Parameter</a>
                    </div>
                
                </div>
                <div class="tab-pane" id="tab_b">
                     <h4>Pane B</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                        ac turpis egestas.</p>
                </div>
                <div class="tab-pane" id="tab_c">
                     <h4>Pane C</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                        ac turpis egestas.</p>
                </div>
                <div class="tab-pane" id="tab_d">
                     <h4>Pane D</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                        ac turpis egestas.</p>
                </div>
                
        </div><!-- tab content -->
        </div>

                
            </div></div>
        </div>
</section>