<section id="ModelContainer" class="tw-contact-us bg-offwhite lessmargin">
            <div class="container">
				<div class="row">
					<div class="col">
						<div class="section-heading text-center">
							<h3>
								Multi-Site CERCLA 5 Year Review
                  </h3>
						</div>
					</div>
				</div>
      <form [formGroup]="multisiteForm" role="form">
				<div class="contact-us-form">
            <div class="row">
                <div class="col-sm-3">
                  <ul class="nav nav-pills col-sm-3 nav-stacked newleft">
                    <li class="active"><a href="#tab_a" data-toggle="pill">Required</a></li>
                    <li><a href="#tab_b" data-toggle="pill">Secondary</a></li>
                    <li><a href="#tab_c" data-toggle="pill">Tertiary</a></li>
                  </ul>
            </div>
            <div class="col-sm-9"> 
              <div class="tab-content col-sm-9 rightside_formnav">
                <div class="tabbingformbox_header ">
                  <input type="button" (click)="submit_multisiteForm()" class="btn1" value="Calculate">&nbsp;
                  <a href="#" class="btn2">Save &amp; View Report</a>
                </div>
                <div class="tab-pane active" id="tab_a">
                  <div class="tabbingformbox_padding">
                    <h4>Reuired Section</h4>
                    <div class="row">
                      <div class="col-sm-7">
                        <div class="form-group">
                            <label>Interim Remedial Action</label>&nbsp;&nbsp;
                            <input type="radio" formControlName="IRA" value="N" id="_IRA" checked="checked" /> No <input type="radio" formControlName="IRA" value="Y" id="_IRA" /> Yes
                        </div>
                        <div class="form-group">
                          <label>Number of 5 Year Reviews During RAO</label>
                          <input type="text" class="form-control form-control-lg" id="_Num_5_Yr_Rev_Ops" value="5" formControlName="fiveyrRevOpt" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.fiveyrRevOpt.errors }">
                          <div *ngIf="submitted && f.fiveyrRevOpt.errors" class="invalid-feedback">
                            <div *ngIf="f.fiveyrRevOpt.errors.required">This field is required</div>
                            <div *ngIf="f.fiveyrRevOpt.errors?.min">Minimum required number is 0.01.</div> 
                            <div *ngIf="f.fiveyrRevOpt.errors?.max">Maximum number can be 10.</div> 
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Number of 5 Year Reviews During LTMgt</label>
                          <input type="text" class="form-control form-control-lg" id="_Num_5_Yr_Rev_LTM" value="5" formControlName="fiveyrRevLtm" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.fiveyrRevLtm.errors }">
                          <div *ngIf="submitted && f.fiveyrRevLtm.errors" class="invalid-feedback">
                            <div *ngIf="f.fiveyrRevLtm.errors.required">This field is required</div>
                            <div *ngIf="f.fiveyrRevLtm.errors?.min">Minimum required number is 0.01.</div> 
                            <div *ngIf="f.fiveyrRevLtm.errors?.max">Maximum number can be 10.</div> 
                          </div>
                        </div> 
                        <div class="form-group">
                          <label>Number of Sites included in 5 Year Review</label>
                          <input type="text" class="form-control form-control-lg" id="_Num_Sites" value="5" formControlName="fiveyrReview" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.fiveyrReview.errors }">
                          <div *ngIf="submitted && f.fiveyrReview.errors" class="invalid-feedback">
                            <div *ngIf="f.fiveyrReview.errors.required">This field is required</div>
                            <div *ngIf="f.fiveyrReview.errors?.min">Minimum required number is 0.01.</div> 
                          </div>
                        </div> 
                        <div class="form-group">
                          <label>Average Number of Acres per Site</label>
                          <input type="text" class="form-control form-control-lg" id="_Avg_Area" value="5" formControlName="avgArea" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.avgArea.errors }">
                          <div *ngIf="submitted && f.avgArea.errors" class="invalid-feedback">
                            <div *ngIf="f.avgArea.errors.required">This field is required</div>
                            <div *ngIf="f.avgArea.errors?.min">Minimum required number is 0.01.</div> 
                          </div>
                        </div> 
                        <div class="form-group">
                          <label>Number of Site Sampling Media (GW, SW, Sed, Soil) Addressed in Plan</label>
                          <input type="text" class="form-control form-control-lg" id="_Site_Smpl_Count" value="0" formControlName="siteSimpleCount" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.siteSimpleCount.errors }">
                          <div *ngIf="submitted && f.siteSimpleCount.errors" class="invalid-feedback">
                            <div *ngIf="f.siteSimpleCount.errors.required">This field is required</div>
                            <div *ngIf="f.siteSimpleCount.errors?.min">Minimum required number is 0.01.</div> 
                            <div *ngIf="f.siteSimpleCount.errors?.max">Maximum number can be 4.</div> 
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Number of Process Sampling Media (Gas, Liq, Solid)</label>
                          <input type="text" class="form-control form-control-lg" id="_Proc_Smpl_Count" value="0" formControlName="procSimpleCount" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.procSimpleCount.errors }">
                          <div *ngIf="submitted && f.procSimpleCount.errors" class="invalid-feedback">
                            <div *ngIf="f.procSimpleCount.errors.required">This field is required</div>
                            <div *ngIf="f.procSimpleCount.errors?.min">Minimum required number is 0.01.</div> 
                            <div *ngIf="f.procSimpleCount.errors?.max">Maximum number can be 3.</div> 
                          </div>
                        </div>
                         
                      </div>
                      <div class="col-sm-5">
                        <h4><strong>Interim Remedial Action</strong></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div>
                    </div>   
                  </div>
                </div>
                <div class="tab-pane" id="tab_b">
                  <div class="tabbingformbox_padding">
                    <h4>Secondary Section</h4>
                      <div class="row">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label>Is this a Professional Labor using Cost Basis? </label>&nbsp;&nbsp;
                                <input type="radio" formControlName="PL" value="N" id="_PL_w_Cost_Basis" checked="checked" /> No <input type="radio" formControlName="PL" value="Y" id="_PL_w_Cost_Basis" /> Yes
                            </div>
                            <div class="form-group">
                                <label>Management Complexity</label>
                                <select class="form-control form-control-lg" id="_Treat_Cmplx" formControlName="mgmtCmplx">
                                    <option value="">-- Select Any --</option>
                                    <option value="H">High</option>
                                    <option value="L">Low</option>
                                    <option value="M">Moderate</option>
                                </select>                                
                            </div> 
                            <div class="form-group">
                                <label>Personal Protection Equipment (PPE) Level</label>
                                <select class="form-control form-control-lg" id="_Prot_All" formControlName="protAll">
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D" selected>D</option>
                                    <option value="E">E</option>                                   
                                </select>                                
                            </div>
                            <div class="form-group">
                                <label>Cost Adjustment Factor</label>
                                <input type="text" class="form-control form-control-lg" id="_CAF" value="0" formControlName="CAF" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.CAF.errors }">
                                <div *ngIf="submitted && f.CAF.errors" class="invalid-feedback">
                                  <div *ngIf="f.CAF.errors?.min">Minimum required number is 0.5.</div> 
                                  <div *ngIf="f.CAF.errors?.max">Maximum number can be 2.</div> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Year to which Base Year Cost is to be Escalated and Reported</label>
                                <input type="text" class="form-control form-control-lg" id="_E_Yr" value="0" formControlName="EYr" onkeypress="return isNumberKey(event)">
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab_c">
                  <div class="tabbingformbox_padding">
                    <h4>Tertiary Section</h4>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Area Cost Factor - Value</label>
                            <input type="text" class="form-control form-control-lg" id="_ACF_Val" value="0.00" formControlName="ACFVal" onkeypress="return isNumberKey(event)">
                          </div>
                          <div class="form-group">
                            <label>Prime Markup (CLEAN)</label>
                            <input type="text" class="form-control form-control-lg" id="_MK_01" value="1.00" formControlName="MK01" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.MK01.errors }">
                            <div *ngIf="submitted && f.MK01.errors" class="invalid-feedback">
                                <div *ngIf="f.MK01.errors?.min">Minimum required number is 1.</div> 
                                <div *ngIf="f.MK01.errors?.max">Maximum number can be 5.</div> 
                            </div>
                          </div>
                          <div class="form-group">
                            <label>Prime Markup (RAC)</label>
                            <input type="text" class="form-control form-control-lg" id="_MK_02" value="1.00" formControlName="MK02" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.MK02.errors }">
                            <div *ngIf="submitted && f.MK02.errors" class="invalid-feedback">
                                <div *ngIf="f.MK02.errors?.min">Minimum required number is 1.</div> 
                                <div *ngIf="f.MK02.errors?.max">Maximum number can be 5.</div> 
                            </div>
                          </div>
                          <div class="form-group">
                            <label>Program Office</label>
                            <input type="text" class="form-control form-control-lg" id="_MK_03" value="1.00" formControlName="MK03" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.MK03.errors }">
                            <div *ngIf="submitted && f.MK03.errors" class="invalid-feedback">
                                <div *ngIf="f.MK03.errors?.min">Minimum required number is 1.</div> 
                                <div *ngIf="f.MK03.errors?.max">Maximum number can be 5.</div> 
                            </div>
                          </div>
                          <div class="form-group">
                            <label>PCAS</label>
                            <input type="text" class="form-control form-control-lg" id="_MK_04" value="0.00" formControlName="MK04" onkeypress="return isNumberKey(event)">
                          </div>
                          <div class="form-group">
                            <label>SIOH</label>
                            <input type="text" class="form-control form-control-lg" id="_MK_05" value="1.00" formControlName="MK05" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.MK05.errors }">
                            <div *ngIf="submitted && f.MK05.errors" class="invalid-feedback">
                                <div *ngIf="f.MK05.errors?.min">Minimum required number is 1.</div> 
                                <div *ngIf="f.MK05.errors?.max">Maximum number can be 1.2.</div> 
                            </div>
                          </div>
                          <div class="form-group">
                            <label>Remedial Quality Assurance</label>
                            <input type="text" class="form-control form-control-lg" id="_MK_06" value="1.1" formControlName="MK06" onkeypress="return isNumberKey(event)">
                          </div> 
                           
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label>Contingency</label>
                              <input type="text" class="form-control form-control-lg" id="_MK_07" value="1.00" formControlName="MK07" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.MK07.errors }">
                              <div *ngIf="submitted && f.MK07.errors" class="invalid-feedback">
                                  <div *ngIf="f.MK07.errors?.min">Minimum required number is 1.</div> 
                                  <div *ngIf="f.MK07.errors?.max">Maximum number can be 3.</div> 
                              </div>
                          </div>
                          <div class="form-group">
                              <label>Closure Report</label>
                              <input type="text" class="form-control form-control-lg" id="_MK_08" value="1.00" formControlName="MK08" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.MK08.errors }">
                              <div *ngIf="submitted && f.MK08.errors" class="invalid-feedback">
                                  <div *ngIf="f.MK08.errors?.min">Minimum required number is 1.</div> 
                                  <div *ngIf="f.MK08.errors?.max">Maximum number can be 1.2.</div> 
                              </div>
                          </div>
                          <div class="form-group">
                              <label>User Markup</label>
                              <input type="text" class="form-control form-control-lg" id="_MK_09" value="1.00" formControlName="MK09" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.MK09.errors }">
                              <div *ngIf="submitted && f.MK09.errors" class="invalid-feedback">
                                  <div *ngIf="f.MK09.errors?.min">Minimum required number is 1.</div> 
                                  <div *ngIf="f.MK09.errors?.max">Maximum number can be 1.5.</div> 
                              </div>
                          </div>
                          <div class="form-group">
                              <label>Area Cost Factor</label>
                              <input type="text" class="form-control form-control-lg" id="_MK_10" value="1.00" formControlName="MK10" onkeypress="return isNumberKey(event)">
                          </div> 
                          <div class="form-group">
                              <label>Escalation Factor</label>
                              <input type="text" class="form-control form-control-lg" id="_MK_11" value="1.00" formControlName="MK11" onkeypress="return isNumberKey(event)">
                          </div> 
                          <div class="form-group">
                              <label>Other Markups</label>
                              <input type="text" class="form-control form-control-lg" id="_MK_12" value="1.00" formControlName="MK12" onkeypress="return isNumberKey(event)" [ngClass]="{ 'is-invalid': submitted && f.MK12.errors }">
                              <div *ngIf="submitted && f.MK12.errors" class="invalid-feedback">
                                  <div *ngIf="f.MK12.errors?.min">Minimum required number is 1.</div> 
                                  <div *ngIf="f.MK12.errors?.max">Maximum number can be 1.5.</div> 
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div><!-- tab content -->
            </div>                    
          </div>
        </div>
      </form>
		</div>
   </section>