<section id="ModelContainer" class="tw-contact-us bg-offwhite">
    <div class="container">
<div class="row">
<div class="col">
  <div class="section-heading text-center" style= "margin-top: -50" >
    <h2>
      Login <span>or</span> Register
        </h2>

  </div>
</div>

</div>

<div class="contact-us-form">

<div class="head">
  <div class="logo">
    
    <div class="logo-bottom"><div class="logo-top">
      <h1>ENV LOGIN</h1>
    </div>
      <div class="sky-form" style="padding-left: 70">
        <img src="assets/images/email-sign-up-icon-small.png" width="205px" />
      </div>
    </div>
  </div>
  <div class="login">
    <div class="sap_tabs">
      <div id="horizontalTab" style=" display: 'block'; width: 100; margin: 0 ">
        <ul class="resp-tabs-list">
          <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Login</span></li>
          <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><label>/</label><span>Sign up</span></li>
          <div class="clearfix"></div>

        </ul>
        <div class="resp-tabs-container">
          <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
            <div class="login-top">
              <div class="error" style="text-align: center">{{message}}</div>
              <form [formGroup]="loginForm" (ngSubmit)="loginClick()">
              
                <input type="text" class="username" placeholder="User Name" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" /> 
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">User Name is required</div>
                </div>
      
                <input type="password" class="password" placeholder="Password" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div> 

                <div class="login-bottom login-bottom1">
                  <div class="submit">
                    <input type="submit" value="LOGIN">
                  </div>
                  <div class="clear"></div>
                </div>
              </form>
            </div>
          </div>
          <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
              <div class="error" style="text-align: center">{{message}}</div>
            <form [formGroup]="signupForm" (ngSubmit)="signupClick()"> 
            <div class="login-top">
              <input type="text" class="firstname" placeholder="First Name" formControlName="firstname" />
              <input type="text" class="lastname" placeholder="Last Name" formControlName="lastname" />
              <input type="text" class="email" placeholder="Email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && s.email.errors }"/>
              <div *ngIf="submitted && s.email.errors" class="invalid-feedback">
                <div *ngIf="s.email.errors.required">Email is required</div>
              </div>
              <input type="text" class="name active" placeholder="User Name" formControlName="uname"  [ngClass]="{ 'is-invalid': submitted && s.uname.errors }"/>
              <div *ngIf="submitted && s.uname.errors" class="invalid-feedback">
                <div *ngIf="s.uname.errors.required">Username is required</div>
              </div>
              <input type="password" class="password" placeholder="Password" formControlName="pwd"  [ngClass]="{ 'is-invalid': submitted && s.pwd.errors }"/>
              <div *ngIf="submitted && s.pwd.errors" class="invalid-feedback">
                <div *ngIf="s.pwd.errors.required">Password is required</div>
              </div>

              <div class="login-bottom">
                <div class="submit">
                  <input type="submit" value="SIGN UP" />
                </div>
                
                <div class="clear"></div>
              </div>
            </div>
          </form> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>


</div>

</div>>

</section>