.cost {font-family: Courier, monospace;font-size: 1.0em;text-align: right;};
.d0 {font-family: Courier, monospace;font-size: 1.0em;font-weight: bold;};
.d1 {font-family: Courier, monospace;font-size: 1.0em;text-indent: 1em;};