<section id="ModelContainer" class="tw-contact-us bg-offwhite lessmargin">
    <div class="container">    
		<div class="row">
			<div class="col-sm-12">
				<div class="toppanel_heading_fullpanel">
					<div class="row">
						<div class="col-sm-5"><h3>Estimates</h3></div>
						<div class="col-sm-7 text-right findmodel_Select">
							<select>
							<option value="volvo">Find Model</option>
							<option value="saab">Saab</option>
							<option value="mercedes">Mercedes</option>
							<option value="audi">Audi</option>
							</select> 
							<a routerLink='/createproject' class="startnew">Start New</a>              
						</div>
					</div> 
				</div>
			</div>
		</div>
		<div class="contact-us-form">
			<div class="row">
        <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
            <p style="font-size: 20px; color: white">Initiating Dashboard...</p>
        </ngx-spinner>
				<div class="col-sm-8">
					<div class="panel-group sksite" id="accordionMenu" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default" *ngFor="let dashinfo of dashboardInfo; index as i">
							<div class="panel-heading" role="tab" id="{{i}}">
							  <h4 class="panel-title">
								  <a role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapse{{i}}" aria-expanded="false" aria-controls="collapseOne">
									{{dashinfo.name}} <p>{{dashinfo.modelName}}</p> <span>$52,606</span>
								  </a>
							  </h4>
							</div>
							<div id="collapse{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<table width="100%">
										<tbody>
											<tr>
											  <td width="50%" style="color:#b4b4b4">Last run : 3/19/19 2:22pm</td>
											  <td width="50%" align="right"> <a routerLink="/projectmodel/{{dashinfo.modelId}}" class="rerunbtn2">Add Run</a>&nbsp;&nbsp;<a routerLink="/projectrunreport/{{dashinfo.modelId}}" class="rerunbtn2">View Project</a></td>
											</tr>
										</tbody>
									</table>
									<hr class="spacer20px"/>
									<table class="table">
										<thead>
											<tr>
											  <th width="40%">Cost Element</th>
											  <th width="20%">Direct Cost</th>
											  <th width="20%">Markup</th>
											  <th width="20%">Burdned Cost</th>
											</tr>
										</thead>
										<tbody>
											<tr>
											  <td>John</td>
											  <td>Doe</td>
											  <td>john</td>
											  <td>john</td>
											</tr>
											<tr>
											  <td>Mary</td>
											  <td>Moe</td>
											  <td>john</td>
											  <td>john</td>
											</tr>
											<tr>
											  <td>July</td>
											  <td>Dooley</td>
											  <td>john</td>
											  <td>john</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="innerpage_rightscroll">
						<h5>Air Sparging <span><a href="#">Help</a></span></h5>
						<p><strong>Abstract</strong></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					</div>
				</div>
			</div>
		</div> 
	</div>
</section>