<section id="ModelContainer" class="tw-contact-us bg-offwhite lessmargin">
  <div class="container">    
      <div class="row">
        <div class="col-sm-12">
          <div class="toppanel_heading_fullpanel"><div class="row">
            <div class="col-sm-5"><h3>Estimates</h3></div>
              <div class="col-sm-7 text-right findmodel_Select">
                <select>
                <option value="volvo">Find Model</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
                </select> 
                <a routerLink='/createproject' class="startnew">Start New</a>              
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-us-form">
        <div class="row">
          <div class="col-sm-8">
            <div class="panel-group sksite" id="accordionMenu" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        East Filed Site <p>Air Spaging</p> <span>$52,606</span>
                      </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <table width="100%">
                      <tbody>
                        <tr>
                          <td width="60%" style="color:#b4b4b4">Last run : 3/19/19 2:22pm</td>
                          <td width="40%" align="right"> <a routerLink="/projectreport" class="rerunbtn2">View Project</a></td>
                        </tr>
                    </table>
                    <hr class="spacer20px"/>
                    <table class="table">
                      <thead>
                        <tr>
                          <th width="40%">Cost Element</th>
                          <th width="20%">Direct Cost</th>
                          <th width="20%">Markup</th>
                          <th width="20%">Burdned Cost</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>John</td>
                          <td>Doe</td>
                          <td>john</td>
                          <td>john</td>
                        </tr>
                        <tr>
                          <td>Mary</td>
                          <td>Moe</td>
                          <td>john</td>
                          <td>john</td>
                        </tr>
                        <tr>
                          <td>July</td>
                          <td>Dooley</td>
                          <td>john</td>
                          <td>john</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingTwo">
<h4 class="panel-title">
<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
 West Filed Site <p>Air Spaging</p> <span>$52,606</span>
</a>
</h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
<div class="panel-body">
<table width="100%">
  <tbody>
<tr>
<td width="60%" style="color:#b4b4b4">Last run : 3/19/19 2:22pm</td>
<td width="40%" align="right"> <a routerLink="/projectreport" class="rerunbtn2">View Project</a></td>
</tr>
</table>

<hr class="spacer20px"/>
<table class="table">
<thead>
<tr>
<th width="40%">Cost Element</th>
<th width="20%">Direct Cost</th>
<th width="20%">Markup</th>
<th width="20%">Burdned Cost</th>
</tr>
</thead>
<tbody>
<tr>
<td>John</td>
<td>Doe</td>
<td>john</td>
<td>john</td>
</tr>
<tr>
<td>Mary</td>
<td>Moe</td>
<td>john</td>
<td>john</td>
</tr>
<tr>
<td>July</td>
<td>Dooley</td>
<td>john</td>
<td>john</td>
</tr>
</tbody>
</table>



</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
<h4 class="panel-title">
<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
 Back Forty <p>Air Spaging</p> <span>$52,606</span>
</a>
</h4>
</div>
<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
<div class="panel-body">



<table width="100%">
  <tbody>
<tr>
<td width="60%" style="color:#b4b4b4">Last run : 3/19/19 2:22pm</td>
<td width="40%" align="right"> <a routerLink="/projectreport" class="rerunbtn2">View Project</a></td>
</tr>
</table>

<hr class="spacer20px"/>
<table class="table">
<thead>
<tr>
<th width="40%">Cost Element</th>
<th width="20%">Direct Cost</th>
<th width="20%">Markup</th>
<th width="20%">Burdned Cost</th>
</tr>
</thead>
<tbody>
<tr>
<td>John</td>
<td>Doe</td>
<td>john</td>
<td>john</td>
</tr>
<tr>
<td>Mary</td>
<td>Moe</td>
<td>john</td>
<td>john</td>
</tr>
<tr>
<td>July</td>
<td>Dooley</td>
<td>john</td>
<td>john</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>

</div>
      </div>
      <div class="col-sm-4"><div class="innerpage_rightscroll">
          
          <h5>Air Sparging <span><a href="#">Help</a></span></h5>
         <p><strong>Abstract</strong></p>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div></div>
</div> </div>
</div>
</section>