<section id="ModelContainer" class="tw-contact-us bg-offwhite lessmargin">
  <div class="container">
      <div class="row">
<div class="col-sm-12"><div class="toppanel_heading_fullpanel" style="background-color:#F7F9F8;"><div class="row">
  
              <div class="col-sm-12 text-right ">
                  <a routerLink='/createproject' class="startnew">Start New Project</a>
              </div>                        
</div>
</div></div></div>

<div class="contact-us-form">
      <div class="row">

<div class="col-sm-12">
<table class="table">

  <tr>
  <td width="80%"><h3><a href="#">Project 1</a></h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></td>
  <td width="20%" align="center" valign="middle" style="vertical-align:middle !important;"><a routerLink='/projectreport' class="viewdtlsbtn">Run Project</a></td>
  </tr>
  <tr>
  <td width="80%"><h3><a href="#">Project 2</a></h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></td>
  <td width="20%" align="center" valign="middle" style="vertical-align:middle !important;"><a routerLink='/projectreport' class="viewdtlsbtn">Run Project</a></td>
  </tr>
  <tr>
  <td width="80%"><h3><a href="#">Project 3</a></h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></td>
  <td width="20%" align="center" valign="middle" style="vertical-align:middle !important;"><a routerLink='/projectreport' class="viewdtlsbtn">Run Project</a></td>
  </tr>
  <tr>
  <td width="80%"><h3><a href="#">Project 4</a></h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></td>
  <td width="20%" align="center" valign="middle" style="vertical-align:middle !important;"><a routerLink='/projectreport' class="viewdtlsbtn">Run Project</a></td>
  </tr>

</table>
  </div>
</div> </div>

</div>

</section>