<section id="ModelContainer" class="tw-contact-us bg-offwhite lessmargin">
  <div id="root">

  </div>
  <div class="container">            
<div class="row">
<div class="col">
  <div class="section-heading text-center">
    <h3>Create New Project</h3>
  </div>
</div>

</div>
<div class="contact-us-form innerpageradio">
      <hr class="spacer10px"/>
    <form [formGroup]="listmodelForm" (ngSubmit)="listOptionClick()">
      <div class="row innerpageradio2form">
        <div class="col-sm-6"><label>Project Name</label> <input type="text" class=" form-control" formControlName="project_title"></div>
          <div class="col-sm-6"><label>Project Description</label><textarea class="form-control" formControlName="project_description"></textarea></div>
      </div>
        <hr class="spacer30px"/>
          
      <div class="col-sm-12">
          <div class="radiostyle">
              <div class="inputGroupe"><input type="radio" formControlName="listoption" value="radio1" id="MultiSiteCERCLA"><label for="MultiSiteCERCLA"><img src="assets/images/tree-leaf.png" alt="img"> MultiSiteCERCLA</label></div>
              <div class="inputGroupe"><input type="radio" formControlName="listoption" value="radio2" id="model2"><label for="model2"><img src="assets/images/tree-leaf.png" alt="img"> Model Two</label></div>
              <div class="inputGroupe"><input type="radio" formControlName="listoption" value="radio3" id="model3"><label for="model3"><img src="assets/images/tree-leaf.png" alt="img"> Model Three</label></div>
              <div class="inputGroupe"><input type="radio" formControlName="listoption" value="radio4" id="model4"><label for="model4"><img src="assets/images/tree-leaf.png" alt="img"> Model Four</label></div>
              <div class="inputGroupe"><input type="radio" formControlName="listoption" value="radio5" id="model5"><label for="model5"><img src="assets/images/tree-leaf.png" alt="img"> Model Five</label></div>
              <div class="inputGroupe"><input type="radio" formControlName="listoption" value="radio6" id="model6"><label for="model6"><img src="assets/images/tree-leaf.png" alt="img"> Model Six</label></div>
              <div class="inputGroupe"><input type="radio" formControlName="listoption" value="radio7" id="model7"><label for="model7"><img src="assets/images/tree-leaf.png" alt="img"> Model Seven</label></div>
              <div class="inputGroupe"><input type="radio" formControlName="listoption" value="radio8" id="model8"><label for="model8"><img src="assets/images/tree-leaf.png" alt="img"> Model Eight</label></div>
              <div class="inputGroupe"><input type="radio" formControlName="listoption" value="radio9" id="model9"><label for="model9"><img src="assets/images/tree-leaf.png" alt="img"> Model Nine</label></div>
              <div class="inputGroupe"><input type="radio" formControlName="listoption" value="radio10" id="model10"><label for="model10"><img src="assets/images/tree-leaf.png" alt="img"> Model Ten</label></div>
          </div>
          <hr class="spacer1px"/>
          <div class="radiostylebtn text-center">
          <button type="submit" class="btn btn-default">Submit</button>
          </div>                    
      </div>
    </form>
</div>

</div>

</section>
